#table-container-table_wrapper{
/* 	background-color: black; */
}

#table-container-table_wrapper .row2{
	float: none;
    margin: 0 auto;
}



#table-container-table_filter{
	float: left;
}
.sk-data-dl-btn{
	float: right;
}